[submodule "Catch"]
	path = Catch
	url = https://github.com/philsquared/Catch.git
[submodule "doc/doxygen-bootstrapped"]
	path = doc/doxygen-bootstrapped
	url = https://github.com/Velron/doxygen-bootstrapped.git
